<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>

<extension point="org.eclipse.emf.refactor.smells">
   	<modelsmell id="br.ufba.pesquisa.ramon.ecore.smells.longparameterlist" modelsmell_description="Acontece quando um método contém muitos parâmetros de entrada." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.LongParametersList" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="Long Parameters List"/>
 	<modelsmell id="br.ufba.pesquisa.ramon.ecore.smells.shotgunsurgery" modelsmell_description="Acontece quando mudanças em uma classe acarretam em pequenas mudanças em vários outros pontos do sistema. " modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.ShotgunSurgery" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="Shotgun Surgery"/>
	<modelsmell id="br.ufba.pesquisa.ramon.ecore.smells.dataclass" modelsmell_description="Acontece quando classes são usadas apenas para armazenar dados." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.DataClass" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="Data Class"/>
	<modelsmell id="br.ufba.pesquisa.ramon.ecore.smells.godpackage" modelsmell_description="Acontece quando um pacote de uma aplicação se torna muito grande e pouco coeso." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.GodPackage" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="God Package"/>
	<modelsmell id="br.ufba.pesquisa.ramon.ecore.smells.largeclass" modelsmell_description="Acontece quando uma classe possui responsabilidades demais." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.LargeClass" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="Large Class"/>
	<modelsmell id="br.ufba.pesquisa.ramon.ecore.smells.misplacedclass" modelsmell_description="Acontece quando uma classe se relaciona mais fortemente com classes de outros pacotes do que com classes do seu próprio pacote." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.MisplacedClass2" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="Misplaced Class"/>
	<modelsmell id="br.ufba.pesquisa.ramon.ecore.smells.speculativegenerality" modelsmell_description="Acontece quando há no código da aplicação uma complexidade para lidar com situações que não acontecem no sistema." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.SpeculativeGenerality" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="Speculative Generality"/>
	<modelsmell id="br.ufba.pesquisa.ramon.ecore.smells.godclass" modelsmell_description="Acontece quando uma classe centraliza grande parte da inteligência do sistema. " modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.GodClass" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="God Class"/>
	<modelsmell id="br.ufba.pesquisa.ramon.ecore.smells.lazyclass" modelsmell_description="Acontece quando uma classe não faz o suficiente para justificar sua existência." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.LazyClass" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="Lazy Class"/>
	<modelsmell id="br.ufba.pesquisa.ramon.ecore.smells.traditionbreaker" modelsmell_description="Acontece quando uma subclasse provê uma grande quantidade de serviços que não são relacionados aos serviços da superclasse." modelsmell_finderclass="org.eclipse.emf.refactor.modelsmell.TraditionBreaker" modelsmell_metamodel="http://www.eclipse.org/emf/2002/Ecore" modelsmell_name="Tradition Breaker"/>
</extension>

<extension point="org.eclipse.emf.refactor.metrics">
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.noec" metric_calculate_class="org.eclipse.emf.refactor.metrics.NumberOfElementsClass" metric_context="EClass" metric_description="Number of elements in a class" metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Number Of Elements in a Class"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.nop" metric_calculate_class="org.eclipse.emf.refactor.metrics.NumberOfParameters" metric_context="EOperation" metric_description="Number of parameters within a method" metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Number Of Parameters"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.cm" metric_calculate_class="org.eclipse.emf.refactor.metrics.ClientMethods" metric_context="EClass" metric_description="Número de métodos de outras classes que recebem a classe medida como parâmetro de entrada." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Changing Methods"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.cc" metric_calculate_class="org.eclipse.emf.refactor.metrics.ChangingClasses" metric_context="EClass" metric_description="Classes clientes da classe medida" metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Changing Classes "/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.ca" metric_calculate_class="org.eclipse.emf.refactor.metrics.CA" metric_context="EClass" metric_description="Quantidade de atributos de outra classe que referenciam a classe medida" metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Changing Attributes"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.cmplusca" metric_calculate_class="org.eclipse.emf.refactor.metrics.CMPlusCA" metric_context="EClass" metric_description="Soma das métricas Changing Methods e Changing Attributes" metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="CMPlusCA"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.noam" metric_calculate_class="org.eclipse.emf.refactor.metrics.NumberOfAccessMethods" metric_context="EClass" metric_description="Número de métodos de acesso que a classe possui" metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Number Of Accessor Methods"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.wmcparam" metric_calculate_class="org.eclipse.emf.refactor.metrics.WMCParam" metric_context="EClass" metric_description="Complexidade dos métodos de serviço de uma classe medida através da quantidade de parâmetros que ele possui" metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Weighted Method Count Param"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.woc" metric_calculate_class="org.eclipse.emf.refactor.metrics.WOC" metric_context="EClass" metric_description="Número de métodos de serviço dividido pelo número total de membros da interface da classe." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Weight Of a Class"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.ps" metric_calculate_class="org.eclipse.emf.refactor.metrics.PackageSize" metric_context="EPackage" metric_description="Número de classes contidas em um pacote." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Package Size"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.nocc" metric_calculate_class="org.eclipse.emf.refactor.metrics.NumberOfClientClasses" metric_context="EPackage" metric_description="Número de classes de fora do pacote que acessam classes do pacote." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Number Of Client Classes"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.nocp" metric_calculate_class="org.eclipse.emf.refactor.metrics.NumberOfClientPackages" metric_context="EPackage" metric_description="Número de outros pacotes que usam o pacote medido." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Number Of Client Packages"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.pc" metric_calculate_class="org.eclipse.emf.refactor.metrics.PackageCohesion" metric_context="EPackage" metric_description="Número relativo de pares de classes de um pacote entre as quais existe uma dependência." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Package Cohesion"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.noed" metric_calculate_class="org.eclipse.emf.refactor.metrics.NumberOfExternalDependencies" metric_context="EClass" metric_description="Calcula o número de dependências da classe em relação a classes de outros pacotes. " metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="NumberOfExternalDependencies"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.cl" metric_calculate_class="org.eclipse.emf.refactor.metrics.ClassLocality" metric_context="EClass" metric_description="Corresponde a um número relativo das dependências que uma classe possui em relação a classes do próprio pacote." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Class Locality"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.dd" metric_calculate_class="org.eclipse.emf.refactor.metrics.DependencyDispersion" metric_context="EClass" metric_description="Corresponde ao número de outros pacotes dos quais uma classe depende." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Dependency Dispersion"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.nom" metric_calculate_class="org.eclipse.emf.refactor.metrics.NumberOfMethods" metric_context="EClass" metric_description="Corresponde ao número de métodos contidos em uma classe." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Number Of Methods"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.noa" metric_calculate_class="org.eclipse.emf.refactor.metrics.NumberOfAttributes" metric_context="EClass" metric_description="Corresponde ao número de atributos de uma classe." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Number Of Attributes"/>	
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.dip" metric_calculate_class="org.eclipse.emf.refactor.metrics.DepthOfInheritance" metric_context="EClass" metric_description="Corresponde à profundidade de uma hierarquia de classes." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Depth Of Inheritance"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.atfd" metric_calculate_class="org.eclipse.emf.refactor.metrics.AccessToForeignData" metric_context="EClass" metric_description="Número de classes externas a que uma determinada classe possui acesso. Contabilizada através do número de referências a outras classes feitas em uma classe, seja através de references ou através de parâmetros em métodos." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Access To Foreign Data"/>
	<metric id="br.ufba.pesquisa.ramon.ecore.metrics.cam" metric_calculate_class="org.eclipse.emf.refactor.metrics.CohesionAmongMethods" metric_context="EClass" metric_description="Calcula a coesão de uma classe baseada no número de métodos que possuem o mesmo parâmetro em uma classe." metric_metamodel="http://www.eclipse.org/emf/2002/Ecore" metric_name="Cohesion Among Methods"/>
</extension>

</plugin>
